.myPosts{
margin: 15px;
}
.newPost{
margin: 15px;
}
textarea{
  border-radius: 25px;
  padding-left: 4px;
  width: 270px;
  height: 98px;
}
.toggle{
  display: flex;
  justify-content: right;
  margin-left: 850px;
  position: fixed;
}