.header img {
  width: 80px;
  
}

.header {
  grid-area: head;
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#c90e72+0,8746bf+48,3643d8+100 */
background: rgb(201,14,114); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(201,14,114,1) 0%, rgba(135,70,191,1) 48%, rgba(54,67,216,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(201,14,114,1) 0%,rgba(135,70,191,1) 48%,rgba(54,67,216,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(201,14,114,1) 0%,rgba(135,70,191,1) 48%,rgba(54,67,216,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c90e72', endColorstr='#3643d8',GradientType=0 ); /* IE6-9 */

}
header{
  display: flex;
  justify-content: space-between;
}
.signIn{
 padding-right: 20px;
 
}