.but{
  display: flex;
  text-align: center;
  margin-top: 10px;
  background: rgb(54,67,216);
  padding: 10px;
  border-radius: 15px;
  transition: all linear 1s;
  -webkit-transition: all linear .50s;
  padding-left: 30px;
  padding-right: 30px;
  letter-spacing:0.6px;
  color:white;
  font-weight: bold;
  box-shadow: 0 0 10px rgb(252, 252, 252);
}
.but:hover{
  color: rgb(54,67,216);
  background-color: white;
  box-shadow: 0 0 10px rgba(152, 75, 196, 0.712);
}